.ReactModal__Content {
    border-radius: 15px !important;
}

.ReactModal__Content--after-open{
    width: 31vw;
    height: max-content;
    margin-left: 27vw;
}

.modalContentHeader{
    display: flex;
    justify-content: stretch;
    width: max-content;
}

.modalContentForm{
    margin-left: 4vw;
}

.modalContentButton{
    margin: 1vw;
    float: right;
}
.modalContentButtonClose{
    margin: 1vw;
    float: right;
}